@font-face {
    font-family: "dungeon";
    src: url(/CanterburyRegular-MVqn.ttf);
}

@font-face {
    font-family: "fira";
    src: url(/FiraSans-Regular.ttf);
}

:root {
    --mHeight: 250px;
    --slideTime: .5s;
    /* change color scheme*/
    --backgroundColor: #1d2330;
    --sectionColor: #16181e;
    --smallHeadingColor: #ffffff;
    --mainTextColor: #eeeeee;
    --campaignHeader: #939bb8;
}

body {
    background-color: var(--backgroundColor);
    color: var(--mainTextColor);
    font-family: monospace;
    font-size: 16px;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0.5em auto;
    color: var(--smallHeadingColor);
}

h1 {
    font-family: "dungeon", serif;
    font-size: 4em;
    color: #f72929;
}

h2 {
    font-family: 'fira', sans-serif;
    font-size: 3em;
}

h3 {
    font-size: 2em;
    margin: 1em auto;
    margin-bottom: 0.3em;
}

.container {
    position: relative;
    width: 100%;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container table {
    margin: 0 auto;
}

.section {
    background-color: var(--sectionColor);
    margin: 1em 0;
    border: var(--sectionColor) solid 0.1em;
    border-radius: 1em;
}

.section div {
    padding: 1em;
}

.back-to-top {
    color: #888888;
}

table {
    border-collapse: collapse;
}

table th {
    padding: 1em;
    max-width: 300px;
    overflow-wrap: break-word;
}

table td {
    padding: 0.5em 1em;
}

table tr {
    padding: 2em;
}

.table-title {
    padding: 1em 1em;
}

ul {
    padding: 0 2em;
}

li {
    list-style: none;
    margin-bottom: 1em;
}

ul.navigation {
    padding: 0;
}

ul.navigation li {
    padding: 0;
    display: inline-block;
    margin: 0 0.5em 4%;
    font-weight: bold;
}

ul.navigation a {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: inherit;
}

.note {
    font-style: italic;
    font-size: 0.8em;
    color: #bbbbbb;
    margin-top: 0;
}

/* table columns will have the width of the biggest column, this sets a default size for the table even when emojis are collapsed */
.setTableWidth {
    width: 350px;
}

.collapsibleBody {
    border: 1px solid #555555;
}

.collapsibleHead {
    border: 1px solid #555555;

}

.collapsibleHead:hover {
    background-color: #181818;
    cursor: pointer;
}

.floatRight {
    float: right;
}

.spanExpand:hover {
    text-decoration: underline;
    cursor: pointer;
}

.card {
    margin: 1em auto;
    padding: 10px;
    max-width: 500px;
    text-align: left;
    border-radius: 1em;
    background-color: var(--sectionColor);
}

.campaignHeading {
    padding: 10px 0;
    color: var(--campaignHeader);
    border-bottom: var(--campaignHeader) solid 2px;
}

/*
    change mHeight to what you predict the max height of a card will be (the more accurate the number is to the
    actual height the smoother the animation
*/

.start {
    overflow-y: auto;
    max-height: var(--mHeight);
}

.open {
    overflow-y: auto;
    animation: slideOpen var(--slideTime);
    animation-fill-mode: forwards;
}

.close {
    overflow: hidden;
    animation: slideClose var(--slideTime);
    animation-fill-mode: forwards;
}

.expandedStats {
    margin: 0px 5px;
}

.expandedStats p {
    margin: 5px 0px;
}

.statsInfo {
    float: left;
}

.healthInfo {
    text-align: right;
}

.header {
    width: 100%;
    text-align: center;
    background-color: var(--sectionColor);
}

.header h1 {
    margin: 0;
    padding: 15px;
}


@keyframes slideClose {
    from {
        max-height: var(--mHeight);
    }

    to {
        max-height: 0px;
    }
}

@keyframes slideOpen {
    from {
        max-height: 0px;
    }

    to {
        max-height: var(--mHeight);
    }
}


.sheetContainer {
    position: relative;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.flexContainer p {
    font-size: 15px;
}

.flexContainerAlign {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.flexContainerAlignEven {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}
.flexContainerAlignEven p {
    width: 100%;
}

.smallBoxHeight {
    height: 50px;
}
.bigBoxHeight {
    height: 400px;
}



.flexItemSmall {
    background-color: DodgerBlue;
    color: white;
    width: 30%;
    font-size: 30px;
}

.flexItem75 {
    background-color: purple;
    color: white;
    width: 75%;
    font-size: 30px;
}

.flexItem25 {
    background-color: black;
    color: white;
    width: 25%;
    font-size: 30px;
}

.flexItem50 {
    background-color: Red;
    color: white;
    width: 50%;
    font-size: 30px;
}

.flexItemSixth {
    background-color: green;
    color: white;
    width: calc(100% / 6);
    font-size: 30px;
}

.flexItemMedium {
    background-color: DodgerBlue;
    color: white;
    width: 70%;
    font-size: 30px;
}
